{% extends 'base.html.twig' %}

{% block title %}Marques index{% endblock %}

{% block body %}
    <h1>Marques index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Annee</th>
                <th>Couleur</th>
            </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr>
                <td>{{ model.id }}</td>
                <td>{{ model.nom }}</td>
                <td>{{ model.annee }}</td>
                <td>{{ model.Couleur }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_models_new') }}">Create new</a>
{% endblock %}
